fastapi
uvicorn[standard]
websockets
pydantic
requests
python-multipart
pypdf
python-docx
SpeechRecognition
soundcard
av
numpy
langchain
langchain-community
langchain-chroma
langchain-ollama
chromadb
